# Dave O - adding this file to the eagle directory (copied from the upstream
# directory aspro648.)  I think this should stop git from trying to keep
# detecting brd and sch Eagle files as text
#
# Auto detect text files and perform LF normalization
* text=auto
# 01/10/2013 - Dave O - added this to stop CR/LF normalization for Eagle files
*.brd
*.sch

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
